In [1]:
import sys
sys.path.append('/Users/xinyunrong/Desktop/code/ml-esg-3/')

In [2]:
import pandas as pd
import numpy as np
from nltk.tokenize import sent_tokenize, RegexpTokenizer

In [5]:
test_eng = pd.read_parquet("../dataset/ML-ESG3_Testset_English.parquet")
test_fre = pd.read_parquet("../dataset/ML-ESG3_Testset_French_Translated.parquet")
test_kor = pd.read_parquet("../dataset/ML-ESG3_Testset_Korean_Translated.parquet")

In [27]:
test_eng.head()

,ID,url,title,content
0,0,https://www.esgtoday.com/sp-dji-santiago-excha...,"S&P DJI, Santiago Exchange Launch New S&P IPSA...","Reid Steadman, Managing Director and Global He..."
1,1,https://www.esgtoday.com/macquaries-green-inve...,Macquarie’s Green Investment Group Announces 3...,Professor Viner has been appointed as Head of ...
2,2,https://www.esgtoday.com/lyondellbasell-launch...,LyondellBasell Launches Suite of Circular Poly...,"Plastics, chemicals and refining company Lyond..."
3,3,https://www.esgtoday.com/orange-commits-to-red...,Orange to Reduce Emissions Across Value Chain ...,The company also provided updates towards its ...
4,4,https://www.esgtoday.com/keurig-dr-pepper-achi...,Keurig Dr Pepper Achieves Target of Making 100...,Oxender said: ”Designing recyclable coffee pod...

In [32]:
test_eng["title_eng"] = test_eng["title"]
test_eng["content_eng"] = test_eng["content"]
test_eng["language"] = "English"
test_eng = test_eng[["title_eng", "content_eng", "language"]]

In [33]:
test_fre.head()

,ID,url,title,content,translation,title_eng,content_eng
0,0,https://www.novethic.fr/actualite/energie/tran...,La France porte un projet de pipeline qui tran...,L’industrie constitue le fer de lance de la ma...,[France plans a pipeline to transport green hy...,France plans a pipeline to transport green hyd...,Industry spearheads the sector's expansionIn F...
1,1,https://www.novethic.fr/actualite/energie/ener...,Accélération des énergies renouvelables : les ...,L’examen du projet de loi sur l’accélération d...,[Accelerating renewable energies: five key mea...,Accelerating renewable energies: five key meas...,The French National Assembly's first reading o...
2,2,https://www.novethic.fr/actualite/energie/ener...,Accélération des énergies renouvelables : les ...,3/ Le dernier mot aux maires C’était un autre ...,[Accelerating renewable energies: five key mea...,Accelerating renewable energies: five key meas...,3/ Final say for mayors This was another major...
3,3,https://www.novethic.fr/actualite/energie/mobi...,L’industrie automobile en route vers l’électri...,L’industrie automobile apparaît bien engagée p...,[The automotive industry on the road to electr...,The automotive industry on the road to electri...,The automotive industry seems to be well on th...
4,4,https://www.novethic.fr/actualite/energie/mobi...,Le secteur ferroviaire s'organise pour rendre ...,Le train est la star de la mobilité écologique...,[The rail industry gets organized to make trai...,The rail industry gets organized to make train...,Trains are the star of ecological mobility. Ye...

In [36]:
test_fre["language"] = "French"
test_fre = test_fre[["title_eng", "content_eng", "language"]]

In [35]:
test_kor.head()

,ID,url,category,title,content,translation,title_eng,content_eng,category_eng
0,0,https://www.esgeconomy.com/news/articleView.ht...,환경·사회,태양광사업 등 전력기금 부정 사용 총 8440억원 적발,정부가 문재인 정부 당시 태양광을 포함한 전력산업기반기금사업(전력기금) 사용 실태를...,"[Unauthorized use of electricity funds, includ...","Unauthorized use of electricity funds, includi...",The government has announced that it has ident...,Environmental-Social
1,1,https://www.esgeconomy.com/news/articleView.ht...,기업·거버넌스,KT 사장 연임 '일파만파'...정면돌파냐 타협이냐 기로에,국내 우량 대기업과 금융그룹 중 오너가 없는 주식 완전 분산 기업의 1대 주주는 대...,[KT president's reappointment 'widespread'...h...,KT president's reappointment 'widespread'...he...,Among Korea's blue-chip conglomerates and fina...,Enterprise-Governance
2,2,https://www.esgeconomy.com/news/articleView.ht...,환경·사회,"SK텔레콤, ‘형제의 나라 튀르키예’ 지진 복구에 도움 손길",SK텔레콤(대표 유영상)은 지난 2월 지진으로 큰 피해를 겪은 튀르키예에 자사 통신...,[SK Telecom Helps 'Brotherly Country' Turkiye ...,SK Telecom Helps 'Brotherly Country' Turkiye R...,SK Telecom (CEO Yoo Young-young) announced on ...,Environmental-Social
3,3,https://www.esgeconomy.com/news/articleView.ht...,지속가능경제,EU 화석연료 메탄 배출 규제 임박...역외 기업에도 적용,화석연료 관련 산업의 메탄 배출량 감축을 위한 유럽연합(EU)의 법제정이 임박했다....,[EU Fossil Fuel Methane Emissions Regulation C...,EU Fossil Fuel Methane Emissions Regulation Co...,A European Union (EU) law to reduce methane em...,Sustainable economy
4,4,https://www.esgeconomy.com/news/articleView.ht...,환경·사회,온난화에 따른 극심한 날씨 변화...갈수록 힘들어지는 날씨 예측,최근 지구 온난화로 인해 날씨 예측도 더욱 어려워질 것이라는 전망이 나왔다. 미 스...,[Extreme weather events as the world warms...p...,Extreme weather events as the world warms...pr...,A recent study suggests that global warming wi...,Environmental-Social

In [37]:
test_kor["language"] = "Korean"
test_kor = test_kor[["title_eng", "content_eng", "language"]]

In [41]:
df_test = pd.concat([test_eng, test_kor, test_fre]).reset_index(drop=True)

In [42]:
regexp_tokenizer = RegexpTokenizer(r'\w+')

def word_count(article):
    return len(regexp_tokenizer.tokenize(article))
    

df_test["title_wc"] = df_test["title_eng"].apply(word_count)
df_test["content_wc"] = df_test["content_eng"].apply(word_count)

df_test[["title_wc", "content_wc"]].describe()

         title_wc   content_wc
count  482.000000   482.000000
mean    11.819502   274.124481
std      2.993860   288.574273
min      4.000000    10.000000
25%     10.000000    61.000000
50%     12.000000   100.000000
75%     14.000000   462.750000
max     22.000000  1400.000000

In [43]:
# only korean dataset needs segmentation
print(df_test.groupby("language")["title_wc"].describe())
print(df_test.groupby("language")["content_wc"].describe())

          count       mean       std  min    25%   50%   75%   max
language
English   136.0  11.529412  2.756652  5.0   9.75  12.0  14.0  21.0
French    146.0  11.438356  3.144722  4.0  10.00  11.0  14.0  17.0
Korean    200.0  12.295000  2.985387  4.0  10.00  12.0  14.0  22.0
          count        mean         std    min     25%    50%    75%     max
language
English   136.0   64.433824   27.632697   18.0   45.00   59.0   80.0   163.0
French    146.0   73.739726   26.312199   10.0   57.00   72.5   93.0   160.0
Korean    200.0  562.995000  238.506545  176.0  395.75  533.5  668.0  1400.0

In [44]:
# Segment Chinese and Korean articles into every n sentences as they are too long

def group_sentences(sentences, sent_size):
    return [sentences[i : i + sent_size] for i in range(0, len(sentences), sent_size)]

def segment_articles(df, sent_size):
    df['sent_tokenize'] = df['content_eng'].apply(sent_tokenize)
    df['content_eng_short'] = df['sent_tokenize'].apply(lambda x: group_sentences(x, sent_size))
    seg_df = df.explode('content_eng_short')
    seg_df["content_eng_short"] = seg_df["content_eng_short"].apply(lambda x: " ".join(x))
    seg_df = seg_df.drop(columns="sent_tokenize")
    return seg_df
    
# segment Korean articles
sent_size = 5
test_kor_seg = segment_articles(test_kor, sent_size)
test_kor_seg["content_wc"] = test_kor_seg["content_eng_short"].apply(word_count)

In [45]:
len(test_kor_seg)

919

In [47]:
print(f"Segmenting {len(test_kor)} Korean samples into {len(test_kor_seg)} samples.")
test_kor_seg.groupby("language")["content_wc"].describe()

Segmenting 200 Korean samples into 919 samples.

          count        mean        std   min    25%    50%    75%    max
language
Korean    919.0  122.523395  41.437714  15.0  100.0  125.0  150.0  253.0